{% extends 'blog/base.html' %}

{% block title %}Post_Detail{% endblock %}

{% block content %}

    <h1 class="loader postdate posttitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    {% if post.published_date %}
        <div class="date postdate">
            {{ post.published_date }}
        </div>
    {% else %}
        <a href="{% url 'blog:post_publish' pk=post.pk %}" class="btn btn-success">Publish</a>
    {% endif %}

    <p class=''>{{ post.post|safe|linebreaksbr }}</p>
    <p>Author: {{ post.author }}</p>
    {% if user.is_authenticated %}
        <a href="{% url 'blog:post_edit' pk=post.pk %}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
        <a href="{% url 'blog:post_remove' pk=post.pk %}" class="btn btn-primary"><i class="fa fa-times"></i></a>
    {% else %}
    {% endif %}

    <hr>
    <a href="{% url 'blog:add_comment_to_post' pk=post.pk %}" class="btn btn-primary btn-comment">Add Comment</a>

    <div class="container">
        {% for comment in post.comments.all %}
        <br>
            {% if user.is_authenticated or comment.approved %}
                {{ comment.created_date }}
                {% if not comment.approved %}
                <a href="{% url 'blog:comment_approve' pk=comment.pk %}" class="btn btn-primary"><i class="fa fa-check"></i></a>
                <a href="{% url 'blog:comment_remove' pk=comment.pk %}" class="btn btn-primary"><i class="fa fa-times"></i></a>
                {% endif %}

                <p>{{ comment.comment|safe|linebreaks }}</p>
                <p>Posted By: {{ comment.author }}</p>
            {% endif %}
            {% empty %}
            <p>No Comments!</p>
        {% endfor %}
    </div>

{% endblock %}