{% extends 'blog/logout_base.html' %}

{% block title %}{{ post.name }}{% endblock %}

{% block body_block %}

    <div class="post">
        <h3 class="title"><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></h3>
        <p><small>Author: {{ post.author }}</small></p>
        <p><small>Published on: {{ post.published_date }}</small></p>
        <pre>{{ post.post }}</pre>
        <span><a href="{% url 'blog:like' pk=post.pk %}"><i class="fa fa-thumbs-up"></i></a> ({{ post.likes }})</span>
        <span><i class="fa fa-comment"></i> ({{ post.comments.all.count }})</span>
    </div>
    <div class="d-flex justify-content-between mt-3">
        <h4>Comments</h4>
        <button class="btn btn-primary">Add Comment</button>

    </div>
    <div class="comments my-3 border p-2">
        {% if post.comments.all %}
            {% for comment in post.comments.all %}
                <p><strong>Posted by: {{ comment.author }}</strong></p>
                <small>{{ comment.commented_date }}</small>
                <p>{{ comment.comment }}</p>
            {% endfor %}
        {% else %}
            <p>No comments are posted for this blog</p>
        {% endif %}
    </div>

{% endblock %}