{% extends 'blog/logout_base.html' %}

{% block title %}Index{% endblock %}

{% block body_block %}

    {% if posts %}
        {% for post in posts %}
            <div>
                <h3 class="title"><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></h3>
                <p><small>Author: {{ post.author }}</small></p>
                <p><small>Published on: {{ post.published_date }}</small></p>
                <p><small>
                    <span><a href="{% url 'blog:like' pk=post.pk %}"><i class="fa fa-thumbs-up"></i></a> ({{ post.likes }})</span>
                    <span><i class="fa fa-comment"></i> ({{ post.comments.all.count }})</span>
                </small></p>
            </div>
        {% endfor %}
    {% else %}
        <h1>NO POSTS TO DISPLAY</h1>
    {% endif %}

{% endblock %}